<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codyy.erpsportal"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <!-- user features -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 系统悬浮框权限 6.0后需单独请求 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <!-- tesssst -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="com.codyy.erpsportal.EApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service
            android:name="com.codyy.erpsportal.commons.services.uploadServices.UploadService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yourcompany.yourapp.uploadservice.action.upload" />
            </intent-filter>
        </service>
        <service android:name="com.codyy.erpsportal.commons.services.BackService" />
        <service
            android:name="com.codyy.erpsportal.exam.services.PollingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.codyy.erpsportal.services.exam.polling.PollingService" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>
        <service android:name="com.codyy.erpsportal.commons.services.RemoteBackService" />

        <receiver android:name="com.codyy.erpsportal.commons.receivers.ConnectionChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.CompleteProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.ListenDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.SettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.BarCodeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.ResetPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.SearchInputActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.SingleChatActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.codyy.erpsportal.info.controllers.activities.InfoDeleteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.CollectivePrepareLessonsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.CollectivePrepareLessonsDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.GroupCollectiveActivityDetail"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.HomeWorkNewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.ActivityThemeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.HomeWorkDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.info.controllers.activities.MoreInformationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.ClassMemberActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.CollectivePrepareLessonsNewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.LiveVideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.HistoryVideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.CacheVideoPlayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.RateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.EvaluationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.EvaluationAllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.RemoteDirectorNewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.ActivityThemeVideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.onlineteach.controllers.activities.NetTechVideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.RemoteDirectorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.resource.controllers.activities.VideoDetailsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/title_activity_video_details"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.resource.controllers.activities.AudioDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.resource.controllers.activities.DocumentContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.resource.controllers.activities.DocumentDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.resource.controllers.activities.ImageDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.resource.controllers.activities.PicturesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name="com.codyy.erpsportal.resource.controllers.activities.DocumentCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.onlinemeetings.controllers.activities.VideoMeetingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.onlinemeetings.controllers.activities.VideoMeetingDetailActivity"
            android:label="@string/title_activity_video_meeting_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.onlinemeetings.controllers.activities.VideoMeetingPlayActivity"
            android:label="@string/title_activity_video_meeting_detail"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.codyy.erpsportal.statistics.controllers.activities.StatisticalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.statistics.controllers.activities.OrgStatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.AssessmentClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.onlinemeetings.controllers.activities.OnlineLiveVideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.onlinemeetings.controllers.activities.OnlineMeetingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.groups.controllers.activities.MoreBlogPostsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.groups.controllers.activities.GroupBlogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.groups.controllers.activities.BlogPostDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.codyy.erpsportal.groups.controllers.activities.MoreGroupListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.groups.controllers.activities.GroupSpaceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.codyy.erpsportal.groups.controllers.activities.GroupSpaceDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.groups.controllers.activities.GroupSpaceDetailManagerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.groups.controllers.activities.GroupManagerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.groups.controllers.activities.GroupMemberActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.PersonActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.PublicUserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.groups.controllers.activities.ClassSpaceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.groups.controllers.activities.MyBlogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.groups.controllers.activities.ClassBlogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.groups.controllers.activities.GroupBlogMoreActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.onlineteach.controllers.activities.OnlineTeachActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.onlineteach.controllers.activities.OnlineTeachDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.CacheResourceActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.AssessmentDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.resource.controllers.activities.MoreResourcesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.resource.controllers.activities.ParentsResourcesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.HomeWorkItemDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.info.controllers.activities.InfoDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.resource.controllers.activities.ResourceKnowledgeFilterAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.UserTimeTableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.resource.controllers.activities.ResourcePropertyFilterAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.ReservationClassFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.LiveVideoListPlayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.FirstPageLiveActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.SetTeacherActivity"
            android:screenOrientation="portrait" />

        <!-- 作业 -->
        <activity
            android:name="com.codyy.erpsportal.homework.controllers.activities.WorkListsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.homework.controllers.activities.WorkStatisticDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.homework.controllers.activities.WorkStuReadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.homework.controllers.activities.WorkItemDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.codyy.erpsportal.homework.controllers.activities.WorkStatisticListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.homework.controllers.activities.WorkReadByItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.homework.controllers.activities.WorkListsClassSpaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.homework.controllers.activities.WorkClassStatisticDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.homework.controllers.activities.VideoViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.homework.controllers.activities.PreviewImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.homework.controllers.activities.WorkInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WorkInfoActivityTheme" />
        <!-- 测试 -->
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.ExamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.classroom.ExamClassSpaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.classroom.ExamClassSpaceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.media.MMSelectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.teacher.TeacherArrangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.teacher.TeacherDoReadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.teacher.TeacherDoReadByTopicActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.teacher.TeacherArrangeTreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.teacher.TeacherMineDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.teacher.TeacherArrangeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.school.SchoolStatisticsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.media.image.MMPreviewImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.school.SchoolGradeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.school.SchoolClassDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.ExamInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.school.SchoolArrangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.school.SchoolArrangeTreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.ExamStatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.student.StudentAnswerDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.student.StudentViewCheckedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.student.StudentViewWaitActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.student.StudentPracticeDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.student.StudentViewPracticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.student.StudentReadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.parent.ParentViewCheckedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.exam.controllers.activities.parent.ParentViewWaitActivity"
            android:screenOrientation="portrait" />

        <!-- 微博 -->
        <activity
            android:name="com.codyy.erpsportal.weibo.controllers.activities.WeiBoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.weibo.controllers.activities.WeiBoMyFriendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name="com.codyy.erpsportal.weibo.controllers.activities.WeiBoImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.weibo.controllers.activities.WeiBoTurnActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name="com.codyy.erpsportal.weibo.controllers.activities.WeiBoVideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.weibo.controllers.activities.WeiBoUniversalActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.codyy.erpsportal.weibo.controllers.activities.WeiBoNewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.codyy.erpsportal.weibo.controllers.activities.WeiBoPrivateMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.codyy.erpsportal.weibo.controllers.activities.WeiBoCommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.codyy.erpsportal.tutorship.controllers.activities.TutorshipActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.codyy.erpsportal.tutorship.controllers.activities.TutorshipDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.codyy.erpsportal.rethink.controllers.activities.RethinkListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.codyy.erpsportal.rethink.controllers.activities.RethinkDetailsActivity"
            android:label="@string/title_activity_rethink_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.codyy.erpsportal.perlcourseprep.controllers.activities.PersonalLesPrepActivity"
            android:label="@string/title_activity_rethink_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.codyy.erpsportal.perlcourseprep.controllers.activities.PersonalLesPrepContentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.codyy.erpsportal.perlcourseprep.controllers.activities.LessonPlanRethinkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.perlcourseprep.controllers.activities.LessonPlanDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.codyy.erpsportal.perlcourseprep.controllers.activities.LessonPlanCommentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service
            android:name="com.codyy.erpsportal.commons.services.SaveLessonPlanRethinkService"
            android:exported="false" />
        <service
            android:name="com.codyy.erpsportal.commons.services.WeiBoMediaService"
            android:exported="false" />

        <activity
            android:name="com.codyy.erpsportal.rethink.controllers.activities.SubjectMaterialPicturesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.tutorship.controllers.activities.TutorialTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.tutorship.controllers.activities.TutorialTestNumbersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.groups.controllers.activities.GroupLessonPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.HttpVideoPlayerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.codyy.erpsportal.perlcourseprep.controllers.activities.MoreLessonPlansActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.rethink.controllers.activities.MoreRethinkListActivity"
            android:screenOrientation="portrait" />

        <receiver android:name="com.codyy.erpsportal.commons.receivers.DownloadCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.codyy.erpsportal.commons.services.UserInfoKeeperService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.codyy.erpsportal.commons.services.EngineService"
            android:exported="false" />
        <service
            android:name="com.codyy.erpsportal.commons.services.OnlineMeetingService"
            android:exported="false" />

        <activity android:name="com.codyy.erpsportal.groups.controllers.activities.GroupCollectiveLessonsActivity" />
        <activity
            android:name="com.codyy.erpsportal.statistics.controllers.activities.CoursesStatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.statistics.controllers.activities.ClassStatTableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.statistics.controllers.activities.SubjectStatTbActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.statistics.controllers.activities.CoursesProportionTableActivity"
            android:label="@string/title_activity_courses_proportion_table"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.codyy.erpsportal.county.controllers.activities.CountyListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.county.controllers.activities.CountyItemDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.county.controllers.activities.CountyClassDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.county.controllers.activities.CountyClassStatisticalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.reservation.controllers.activities.ReservationClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.reservation.controllers.activities.ReservationClassDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.timetable.activities.TimeTableListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.timetable.activities.TimeTableDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.resource.controllers.activities.ResourcesNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopupMenu" />
        <activity
            android:name="com.codyy.erpsportal.resource.controllers.activities.ClassResourcesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopupMenu" />
        <activity
            android:name="com.codyy.erpsportal.statistics.controllers.activities.CoursesProfilesFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.classroom.activity.ClassRoomListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.classroom.activity.ClassRoomDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.classroom.activity.CustomLiveDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.classroom.activity.ClassRecordedFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.classroom.activity.ClassRecordedNoAreaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.ClassTourNewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.ClassTourPagerActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.codyy.erpsportal.classroom.activity.LiveVideoListPlayNewActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.codyy.erpsportal.commons.controllers.activities.LoadingUserTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.Darker" />
        <activity
            android:name="com.codyy.erpsportal.schooltv.controllers.activities.SchoolTvProgramListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.schooltv.controllers.activities.SchoolTvHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.codyy.erpsportal.schooltv.controllers.activities.SchoolProgramDetail"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.repairs.controllers.activities.AreaRepairsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.repairs.controllers.activities.SchoolRepairsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.repairs.controllers.activities.RepairDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.repairs.controllers.activities.ReportRepairActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.codyy.erpsportal.repairs.controllers.activities.MakeDetailedInquiryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.repairs.controllers.activities.CommonMalfunctionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.repairs.controllers.activities.MalfunctionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.repairs.controllers.activities.MalfunctionDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.repairs.controllers.activities.SearchMalfunctionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.codyy.erpsportal.repairs.controllers.activities.ScanSerialActivity"
            android:screenOrientation="portrait" />

        <!-- share library-->
        <!--<activity
            android:name="com.codyy.erpsportal.wxapi.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@style/Theme.UMDefault"
            android:excludeFromRecents="true"
            />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59195d5aae1bf802f8000d88" >
        </meta-data>

    </application>

</manifest>